body { min-height: 100vh; }


/* set image-size for selected gif */


#gifToAdd {
    width: 100%;
    height: 100%;
    max-width: 660px;
    max-height: 370px;
}

/* set image-size for search results */

img.gif-img {
    width: 100%;
    height: 100%;
    max-width: 660px;
    max-height: 370px;
}


.cardImg {
    width: 100%;
    height: 100%;
    max-width: 446px;
    max-height: 250px;
}

.postRow {
    padding: 10px;
}

.postCol {
    padding: 10px;
}

.reactBtn {
    border-radius: 5px;
    padding: 3px;
}
.reactBtn:hover {
    background-color: rgb(7, 0, 34);
    transform: scale(1.25) perspective(1px);
    color: bisque;
}